@import url('https://fonts.googleapis.com/css2?family=Trispace:wght@100&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Trispace', sans-serif;
    background-color: var(--light-gray);
}

:root {
    --light-gray: hsl(212, 45%, 89%);
    --dark-blue: hsl(218, 44%, 22%);
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;

}

.main {
    display: flex; 
    flex-direction: column;
    gap: 50px;
}

.main a {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    padding: 25px;
    margin: auto;
    width: fit-content;
    background-color: var(--dark-blue);
    color: white;
    border-radius: 25px;
}

.main a:hover {
    color: var(--dark-blue);
    background-color: var(--light-gray);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transform: translate(0px, 5px);
    transition: all 0.15s ease-in;
}

.attribution {
    font-weight: bold;
    margin-top: 50px;
}

.attribution a {
    text-decoration: none;
    background-color: var(--dark-blue);
    color: var(--light-gray);
    padding: 5px;
}

