@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    /* Primary */
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);

    /* Neutral */
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

body {
    font-family: 'Red Hat Display', sans-serif;
    background: url(./images/pattern-background-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

img {
    border-radius: 20px 20px 0 0 ;
}

.card {
    background-color: white;
    text-align: center;
    max-width: 450px;
    min-width: fit-content;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.order-info p {
    margin: auto;
    max-width: 350px;   
    color: var(--desaturated-blue);
}

.order-info h1 {
    color: var(--dark-blue);
    margin-bottom: 15px;
    font-weight: 900;
}

.order-info {
    margin: 20px
}

.plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: var(--very-pale-blue);
    padding: 25px;
    margin: 40px;
    border-radius: 10px;
}

.left {
    line-height: 1.6rem;
    padding-right: 90px;
}

.left .price-text {
    color: var(--dark-blue);
    font-weight: 900;
}

.left .price {
    color: var(--desaturated-blue);
}

.right a {
    font-weight: bold;
    color: var(--bright-blue);
}

.order-payment {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin:  40px;
    justify-content: center;
}

.order-payment a  {
    padding: 15px;
}

.btn {
    border-radius: 10px;
    text-decoration: none;
    font-weight: 900;
}

#accept-order {
    box-shadow: rgb(38, 57, 77) 0px 10px 50px -10px;
    background-color: var(--bright-blue);
    color: var(--very-pale-blue);
}

#cancel-order {
    color: var(--desaturated-blue);
}

/* Hover effects */

.right a:hover {
    text-decoration: none;
    color: var(--desaturated-blue);
}

#cancel-order:hover {
    color: var(--dark-blue);
}

#accept-order:hover {
    background-color: var(--desaturated-blue);
}




