@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;600&display=swap');

/* .p-lead-edu {
    /* display: flex; */
    /* justify-content: space-between; */
/* } */

.hero-heading, .navbar-brand, .learn-btn, .nav-item, .intro-p-highlight{
    font-family:'Poppins', 'Courier New', Courier, monospace;
    font-weight: 600;
} 

.intro-p {
    font-family:'Poppins',Arial, Helvetica, sans-serif;
    font-weight: 200;
}

.expand-more {
    fill: white;
}

.tool-icon {
    margin: 0px 15px;
}

.tech-grid {
    border-radius: 1rem;
}

.tech-grid:hover {
    background-color: #4a4a4a;
    transition: all ease-in 0.3s;
}

.java-txt:hover, .js-txt:hover {
    box-shadow: #ffc107 0px 0px 0px 3px;
    color:#ffc107;
}

.html-txt:hover {
    box-shadow: #dc3545 0px 0px 0px 3px;
    color: #dc3545;
}

.css-txt:hover {
    box-shadow: #0d6efd 0px 0px 0px 3px;
    color: #0d6efd;
}

.php-txt:hover {
    box-shadow: #198551 0px 0px 0px 3px;
    color: #198551;
}

.sql-txt:hover {
    box-shadow: #10b5d6 0px 0px 0px 3px;
    color: #10b5d6;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}